
.list {
  display: flex;
  border: 1px solid #DEDEDE;
  padding: 20px 0px;
  overflow: auto;
}

.list-card {
 box-shadow: none;
}
.item-color {
  background-color: #DEDEDE;
  height: 16px;
  width: 6px;
  display: inline-block;
  margin-left: 10px;
  margin-right: 5px;
}

.item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 50px);
  display: inline-block;
}

.item-action {
  float: right;
  cursor: pointer;
  display: none;
  background: url("../img/delete.png") no-repeat;
  background-size: contain;
  width: 10px;
  height: 10px;
  margin-right: 8px;
  margin-top: 8px;
}

.bolt-default-horizontal-spacing {
  padding-left: 0px !important; 
  padding-right: 0px !important;
}

